{% extends "base.html" %}

{% block app_content %}
    <div class="twelve columns">
        <h1>Login</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <div class="form-row">
                <li>{{ form.remember_me() }}</li>
                <li>{{ form.remember_me.label }}</li>
            </div>
            <p>{{ form.submit() }}</p>
        </form>
        <p>New User? <a class="button" href="{{ url_for('auth.register') }}">Register
            Here</a></p>
        <p> <a href="{{ url_for('auth.reset_password_request') }}">
            Forgot Your Password? </a>
        </p>
    </div>
{% endblock %}