{% extends "base.html" %}

{% block app_content %}
    <div class="twelve columns">
        <h1>Login</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p class="tight">
                {{ form.username.label }}
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p class="tight">
                {{ form.password.label }}
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <div class="form-row">
                <li>{{ form.remember_me() }}</li>
                <li>{{ form.remember_me.label }}</li>
            </div>
            <p class="tight">{{ form.submit() }}</p>
        </form>
        <p class="tight">New User? <a href="{{ url_for('auth.register') }}"><span style="text-decoration: underline">Register Here</span></a></p>
        <a href="{{ url_for('auth.reset_password_request') }}">
            <span style="text-decoration: underline"><p class="tight">Reset Password</p></span> </a>
    </div>
{% endblock %}