{% extends "base.html" %}

{% block app_content %}
    <div class="twelve columns">
        <h1>Register</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p class="tight">
                {{ form.username.label }}
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p class="tight">
                {{ form.email.label }}
                {{ form.email(size=64) }}<br>
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p class="tight">
                {{ form.password.label }}
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p class="tight">
                {{ form.password2.label }}
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p class="tight">{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}