<p>Hi {{ user.username[0]|upper}}{{user.username[1:] }},</p>
<p>
    To reset your password
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>If you didn't request a password reset, just ignore this message. Your account is secure.</p>
<p>"{{ ["May the odds be ever in your favor", "May the force be with you",
       "Death is light as a feather; duty, heavy as a mountain", "Valar morghulis",
       "Winter is coming", "Mischief managed", "Dovie'andi se tovya sagain",
       "So long, and thanks for all the fish",
       "The road goes ever on and on"] | random }}"</p>
<p>Carl</p>