<!DOCTYPE html>
<html>
  <head>
    <title>Carl Dawson</title>
    <meta name="description" content="Carl Dawson's personal site.">
    <meta name="author" content="Carl Dawson">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/vnd.microsoft.icon" href="static/images/favicon.ico">
  </head>

  <body>
    <div class="container">
      <div class="row animate on load">
        <nav>
          <div class="twelve columns">
            <a href="{{ url_for('homepage') }}"><img src="static/images/beagle.png" class="u-pull-left" id="profile-image"></a>
            <div class="automation-btn">
              <a href="{{ url_for('resume') }}">R&eacute;sum&eacute;</a>
              <a href="{{ url_for('thermostat') }}">Home Automation</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="wrapper">
      <div class="container white-overlap">
        <div class="row animate-on-load" id="main_content">
          <div class='twelve columns'>
            <h1>Hi, I'm Carl Dawson</h1>
            <p>I'm a physicist/computer engineer working at Stanford University.</p>
            <p>This Flask powered website is hosted on a Beaglebone Black
            micro-computer making use of the LAMP stack. The Beaglebone is
            connected to some custom circuitry, resulting in a versatile,
            scalable home automation web application. Currently, the system
            functions as a thermostat with an on/off switch, live temperature
            display, and temperature set point.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
