<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carl Dawson</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../static/images/favicon.ico">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div class="container">
      <div class="row animate on load">
        <nav>
          <div class="twelve columns">
            <a href="{{ url_for('homepage') }}"><img src="../static/images/beagle.png" class="u-pull-left" id="profile-image" alt="Home"></a>
            <div class="automation-btn">
              <a href="{{ url_for('homepage') }}">Home</a>
              <a href="{{ url_for('projects') }}">Projects</a>
              <a href="{{ url_for('resume') }}">R&eacute;sum&eacute;</a>
              <a href="{{ url_for('thermostat') }}">Thermostat</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="wrapper">
        <div class="container white-overlap">
            <div class="row animate-on-load" id="main_content">
                <div class="twelve columns">
                    <h1>KLH Model 20 Restoration</h>
                    <img src="../static/images/projects/klh20/speakers_02.jpg" width="400" alt="speakers_02.jpg">
                    <p>Content coming soon</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row animate on load">
        <nav>
          <div class="twelve columns">
            <div class="social-btn">
              <a href="https://www.linkedin.com/in/csdawson/">LinkedIn</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
</body>
</html>