<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Carl Dawson</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../static/images/favicon.ico">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- <script> window.addEventListener("load", ) </script> -->
  </head>
  <body>
    <div class="container">
      <div class="row animate on load">
        <nav>
          <div class="twelve columns">
            <a href="{{ url_for('homepage') }}"><img src="../static/images/beagle.png" class="u-pull-left" id="profile-image" alt="Home"></a>
            <div class="automation-btn">
              <a href="{{ url_for('homepage') }}">Home</a>
              <a href="{{ url_for('projects') }}">Projects</a>
              <a href="{{ url_for('resume') }}">R&eacute;sum&eacute;</a>
              <a href="{{ url_for('thermostat') }}">Thermostat</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="wrapper">
      <div class="container white-overlap">
        <div class="row animate-on-load" id="main_content">
          <div class='twelve columns'>
            <object data="/static/images/_resume.pdf" type="application/pdf" width="850px" height="1200px">
                <embed src="/static/images/_resume.pdf">
                    This browser does not support PDFs. Please download the PDF to view it: <a href="../static/images/_resume.pdf">Download PDF</a>.
            </object>
            <!--<embed src="/static/images/_resume.pdf" width="850" height="1100">-->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
