{% extends "base.html" %}

{% block scripts %}
    <script src="/static/javascript/jquery/jquery-3.5.0.min.js"></script>
{% endblock %}

{% block app_content %}
    <div class='twelve columns'>
        <h1>Welcome to the Library</h1>
        <p>Congratulations, you have access to my E-Book library. All of the books here are
            available, and they can be downloaded directly or
            sent to any of the emails or devices that you have on file. E-Reader devices can
            be managed by clicking the "Manage your Devices" link below. Book requests or requests
            for additional file formats can be
            made to <a href="mailto:admin@carlsdawson.com">library@carlsdawson.com</a>.
            Happy reading.</p>
        <a href="{{ url_for("library.stacks") }}">
            <button>Browse the Stacks</button>
        </a>
        <br>
        <a href="{{ url_for("library.manage_devices") }}">
            <button>Manage your Devices</button>
        </a>
        <br>
        {% if g.search_form %}
            <form method="get"
                  action="{{ url_for('library.search') }}">
                <div class="form-group">
                    {{ g.search_form.q(size=20, class='form-control',
                                placeholder=g.search_form.q.label.text) }}
                </div>
            </form>
        {% endif %}
    </div>
    <div class='twelve columns'>
        <h2>Recently Added</h2>
        <div class="flex-container">
            {% for book in books %}
                <div class="flex-cell">
                    <span class="flex-data">
                        {% include "/library/_book.html" %}font
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <p>{{ last_seen_str }}</p>
    </div>
    <a href="{{ url_for("library.stacks") }}">
        <button>Browse the Stacks</button>
    </a>
{% endblock %}